.about {
  height: 100vh;
  background-color: aqua;
  display: flex;
  padding: 3rem;
}
.about-profile {
  background-color: green;
  flex: 1 1 20rem;
}
.about-profile-info {
  background-color: red;
  flex: 1 1 20rem;
}
.about img {
  height: auto;
  width: 100%;
}
