* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  height: 100vh;
  background-image: url('https://johnnyungcodes.com/img/slider/dtla-blue.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.home::before {
  background: rgba(0, 0, 0, 0.397) none repeat scroll 0 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
